@import 'variables.scss';

body {
    overflow: hidden;
}

.main-infos img {
    margin-top: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main-infos {
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
}

#ratings {
    color: burlywood;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
}

#filters {
    position: absolute;
    left: 50px;
    top: 11px;
    width: inherit;
    margin: auto;
    right: 0;
    z-index: 3;
}

#filters .col-12 {
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}